html,
body {
    background-image: url('assets/textures/fabric_plaid.png');
    margin: 0 auto;
    width: 90%;
}

p {
    font-family: 'Museo300', Fallback, sans-serif;
    font-size: 1.1vw;
    font-weight: bold;
    line-height: 1.3;
    color: #7b7b7b;
}
h1{
  color: #6d6d6d;
}
.heading{
  color: #434342;
  font-family: 'Museo500', Fallback, sans-serif;
  text-transform: uppercase;
  padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    min-height: 5vh;
    max-height: 15vh;
    font-family: 'Museo500', Fallback, sans-serif;
    color: #999999;
    text-transform: uppercase;
    font-size: 90%;
}
section{
    display: flex;
    justify-content: center;
}
.left-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 35%;
}

.right-container {
    display: flex;
    flex-direction: column;
}

.half-container {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    font-size: 90%;
    color: #dddddd;
}

.smallicons {
    width: 30px;
    padding: 5px;
}

.featured-parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    padding-right: 20px;
    height: 60vh;
}

.featured-project {
    display: flex;
    flex-direction: column-reverse;
    height: 35vh;
    margin-right: 10px;
    color: white;
    background-image: url('assets/portfolio/6.adapt.1900.1.jpg');
    border: 7px solid white;
}

.grey-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(100, 93, 84, 0.6);
    height: 5vh;
    padding-right: 15px;
}

.recent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
}

.recent img {
    flex: 1 0 21%;
    margin: 5px;
    padding: 5px;
    max-width: 15vw;
}

.button {
    display: flex;
    justify-content: flex-end;
    background: url('assets/textures/az_subtle.png');
    background-color: #BAB9B9;
    background-blend-mode: multiply;
    border-radius: 20px;
    padding: 2px 20px 2px 20px;
    height: 2vh;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;    
    margin: 15px 20px 15px 20px;
}

.bottom-band {
    display: flex;
    color: white;
    background-color: #666666;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.footer {
    display: flex;
    height: 25vh;
    padding-bottom: 20px;
    
}

.portfolio-text {
    color: #7d7d7d;
    padding-left: 10px;
}

.footer-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 15px 50px 15px;
    width: 50%;
    background: url('assets/textures/az_subtle.png');
    background-color: #acaca4;
    background-blend-mode: multiply;
    color: #3e3e3d;
    overflow: hidden;
}

.footer-right img {
    width: 20%;
}

#footer-left {
    width: 100%;
}

.footer-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px 0 20px;
}

.footer-about img {
    width: 50px;
}

input {
    width: 98%;
}

a:link, a:visited {
    text-decoration: none;
    color: #7f7f7f;
}

.footer a:link, a:visited {
  text-decoration: none;
  color: #434342;
}

a:hover {
    color: red;
}


span {
    color: white;
    font-size: 80%;
}

@media only screen and (max-width: 1024px) {
    .footer-div:nth-child(3) {
        display:none;
    }
    p{
        font-size: 1.9vw;
    }
    .heading, h1,h2,h3,h4,h5{
        font-size: 90%;
    } 
    .portfolio-top-right img{
        display: none;
    }
    img{
        width: 80%;
    }
}

@font-face {
    font-family: 'Museo300';
    src: url('assets/fonts/museo/museo-300-webfont.eot');
    src: url('assets/fonts/museo/museo-300-webfont.woff') format('woff'),
    url('assets/fonts/museo/museo-300-webfont.ttf') format('truetype'),
    url('assets/fonts/museo/museo-300-webfont.svg#svgMuseo300') format('svg');
}

@font-face {
    font-family: 'Museo500';
    src: url('assets/fonts/museo/museo-500-webfont.eot');
    src: url('assets/fonts/museo/museo-500-webfont.woff') format('woff'),
    url('assets/fonts/museo/museo-500-webfont.ttf') format('truetype'),
    url('assets/fonts/museo/museo-500-webfont.svg#svgMuseo500') format('svg');
}

@font-face {
    font-family: 'Museo700';
    src: url('assets/fonts/museo/museo-700-webfont.eot');
    src: url('assets/fonts/museo/museo-700-webfont.woff') format('woff'),
    url('assets/fonts/museo/museo-700-webfont.ttf') format('truetype'),
    url('assets/fonts/museo/museo-700-webfont.svg#svgMuseo700') format('svg');
}

@font-face {
    font-family: 'Blanch-Condensed';
    src: url('assets/fonts/blanch/BLANCH_CONDENSED.ttf') format('truetype');
}

@font-face {
    font-family: 'Blanch-Caps-Inline';
    src: url('assets/fonts/blanch/BLANCH_CAPS_INLINE.ttf') format('truetype');
}

@font-face {
    font-family: 'Blanch-Caps';
    src: url('assets/fonts/blanch/BLANCH_CAPS.ttf') format('truetype');
}